[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	branch = main

[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
	branch = main
	
[submodule "reference/aeron"]
	path = reference/aeron
	url = https://github.com/real-logic/aeron.git

[submodule "reference/disruptor"]
	path = reference/disruptor
	url = https://github.com/LMAX-Exchange/disruptor.git
	
[submodule "reference/tendermint"]
	path = reference/tendermint
	url = https://github.com/tendermint/tendermint.git
[submodule "reference/diem"]
	path = reference/diem
	url = https://github.com/diem/diem.git
